.App {
  text-align: center;
  
}
.container{
  height:800px;
  width: 1000px;
 
  border-radius: 10px;
  margin-top: 30px;
  background-image: url("wp.jpg");
  background-size:contain;
  background-position: center;
}

@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

body {
    margin: 0;
    padding: 0;
    background: rgb(156, 163, 167);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.guessboard{
  height: 600px;
  width: 350px;
  background-color: blanchedalmond;
  display: inline-block;
  
  border:rgb(228, 224, 224) solid 1px;
  border-radius: 10px;
  margin-right: 150px;
  margin-top: 30px;
  box-shadow: rgb(36, 35, 35) 10px 10px 6px;
  overflow-y:scroll;
}
h1 {
    font-family: "Coming Soon", cursive;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#canvas {
    background-color: white;
    border: 1px solid rgb(28, 45, 77);
    cursor: crosshair;
    border-radius: 10px;
    margin-top: 30px;
}


#controls {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    position: relative;
}

#widthControl {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.widthExample {
    background-color: black;
    border-radius: 50%;
    margin: 3px;
    opacity: 0.4;
}

.widthExample:nth-child(1) {
    width: 5px;
    height: 5px;
}

.widthExample:nth-child(2) {
    width: 10px;
    height: 10px;
}

.widthExample:nth-child(3) {
    width: 15px;
    height: 15px;
    opacity: 1;
}

.widthExample:nth-child(4) {
    width: 20px;
    height: 20px;
}

.widthExample:nth-child(5) {
    width: 25px;
    height: 25px;
}

.widthExample:hover {
    cursor: pointer;
    opacity: 1 !important;
}

#palette {
    width: 80px;
    height: calc(9 * 40px);
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.colorSquare {
    margin: 0px 1px 1px 0px;
    width: 39px;
    height: 39px;
    border-radius: 3px;
    transition: all 120ms;
}

.colorSquare:hover {
    transform: scale(1.2);
   
    cursor: pointer;
    z-index: 1;
}

#clearBtn {
    margin-top: 10px;
    font-size: 25px;
    color: gray;
    transition: all 400ms;
}

#clearBtn:hover {
    color: rgb(255, 20, 20);
    cursor: pointer;
}

#counterDiv {
    font-size: 14px;
    text-align: right;
    position: absolute;
    bottom: 5px;
}
.guessbtn{
 background-color: rgb(165, 72, 72);
 margin-left: 10px;
 width: 20%;
 height: 30px;
 border-radius: 10px;
 color: white;
 cursor: pointer;
 letter-spacing: 3px;

 
}
.guessbtn:hover{
  transform: scale(1.2);
}
.boardwraper{
 display: inline-block;
 text-align: center;



}

.wraper2{
  display:flex;
  margin: 20px 50px;
 
  

}

.guesstxt{
    background-color: rgb(103, 103, 213);
    border-color: white;
    border-radius: 4;
    border: solid;
}